
.satchel {
    .items {
        position: relative;
        width: 640px;
        height: 640px;
        background: url('../assets/gridTile.png');
        background-size: 10% 10%;
    }

    .item {
        position: absolute;
        background: url('../assets/item.png');
        background-size: 100% 100%;
    }
}
