div.satchel
  ul.items
    li.item(ng-repeat='item in game.grid.itemList', style='left:{{ 100 * item.x / game.grid.w }}%; top:{{ 100 * item.y / game.grid.h }}%; width:{{ 100 / game.grid.w }}%; height:{{ 100 / game.grid.h }}%')
